@import "tailwindcss";

@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

.body {
    margin: 0;
    background-image: url("/turf.jpg");
    background-image: url("/stadiumimage.avif");
    html, body, #root {
  height: 100%;
  margin: 0;           /* kills the 8px body margin */
}
body { overflow-x: hidden; }
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
}

